* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
	font-size: 62.5%;

    /* Variables */
    --brown:#775A47;
    --grey: #848484;
    --light-grey: #cfcfcf;
}

html {
    font-size: 62.5%;
}

/* UTIL */

.container {
    max-width: 1600px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.grid {
    display: grid;
}
.margin-small-bottom {
    margin-bottom: 1em;
} 


/* HEADER */
header {
    min-height: 50px;
    background-color: #fff;
    box-shadow:-1px 8px 13px -7px rgba(64,64,64,0.64);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0.5 2rem;
    z-index: 20;
    background-color: #ededed;
   
}

.header-container {
    justify-content: space-between;
    height: 50px;
    
}

.navbrand {
    margin: 0 0 0 2rem;
}

.navbrand img { 
    width: 50px;
}



.navItem {
    margin: 0 2.5rem;
    list-style: none;
    display: inline-block;
    height: fit-content;
}

.navList {
    font-size: 2.9rem;
    font-weight: 600;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

.navItem:hover {
    cursor: pointer;
}

.active {
    color: #775A47;
    font-weight: 700;
}


/* HERO */
.header-main {
    width: 95%;
    margin: 0 auto;
    height: 90vh;
    background-image: url("./images/hero3.jpeg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 30% 100%, 0% 100%);
    z-index: 1;
    
    justify-content: center;
    align-items: center;
}

.contactButton {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
}

 .headings {
     font-size: 6.5rem;
     color:#fff;
     text-align: center;
     margin: 2rem 0;
 }


 .projectContainer {
     width: 100%;
     margin-top: -15vh;
     padding-top: 20vh;
    
 }


 .sectionTitle h2 {
    color: #775A47;
    font-size: 4.5rem;
    text-align: right;
    margin-right: 20rem;
    margin-bottom: 1.5em;
    margin-top: -10rem;
}
 

.tablet {
    display: none;
}
.photoGrid {
    width: 100%;
    grid-template-columns:  auto auto ;
    grid-template-rows:  auto auto  auto;
    column-gap: 3rem;
    row-gap: 2rem;
    padding: 0 7.5rem;
}

 .project-img {
    position:absolute; 
    top:0px; 
    left:0px; 
    width:100%; 
    height:100%; 
    border: none; 
    overflow: hidden;
    border-radius: 2rem;
    transition: all .4s;
 }

 .project {
    width:100%; 
    padding-bottom:56.25%; 
    position:relative;
 }

.project-span {
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;
        /* fixes overlap error in IE7/8, 
           make sure you have an empty gif */
        border-radius: 2rem;      
        transition: all .4s;
}

.brown:hover {
    background-size: 100%;
    backdrop-filter: blur(5px);
}

.brown {
     background-image: linear-gradient(90deg, transparent 0%, transparent 50%, var(--brown) 50%);
     background-size: 200%;
 }

.grey {
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, var(--grey) 50%);
    background-size: 200%;

 }

 .grey:hover {
    background-size: 100%;
    backdrop-filter: blur(5px);
  
}
 
  .contactContainer {
      text-align: center;
      color: #988274;
      max-width: 28%;
      margin: 4rem auto;
      font-size: 4rem;
      padding: 3em 3rem;
      font-weight: 600;
      border-radius: 2rem;
  }

  .contactContainer input[type=text], .contactContainer input[type=email]  {
      width: 100%;
      
  }

  .contactContainer input, .contactContainer textarea {
    border: none;
    background-color: #E9E9E9;
    border-radius: 2em;
    padding: .5em;
    color: #988274;
    font-weight: 600;
    text-align: center;
    margin: .5em 0;
    
  }

  .contactContainer input[type=submit]{
      padding: 0.5em 3em;
      background-color: #fff;
      border: 1px solid #988274;
      
  } 
  .contactContainer textarea {
      width: 100%;
      resize: none;
  }

